DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
SECRET_KEY="segredo"
TOKEN_EXPIRES_IN='1 days'

#aws keys
ACCESS_KEY_ID='AAAAAAAAAAAAAAAAAAAA',
SECRET_ACCESS_KEY='aAaAaAaAaAaAaAaAaAaAaAaAaAaAaAaAaAaAaA',